<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz System - All Students</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <style>
        body {
            background-image: url(https://gamethinking.io/wp-content/uploads/sites/5/2018/12/quiz-background.png);
            color: #fff;
            font-family: 'Arial', sans-serif;
            padding-bottom: 50px;
        }

        .container {
            margin-top: 50px;
            text-align: center;
            background-color: rgba(120, 182, 166, 0.932);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 30px;
            overflow: hidden;
        }

        h1 {
            color: #000000;
        }

        .table-container {
            margin-top: 20px;
            max-height: 400px;
            overflow-y: auto;
        }

        .table {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mb-4">All Students Information</h1>

        <div class="table-container">
            <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach(student=> { %>
                        <tr>
                            <td>
                                <%= student.StudentID %>
                            </td>
                            <td>
                                <%= student.Username %>
                            </td>
                            <td>
                                <%= student.Email %>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
</body>

</html>