<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Announcement</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: url(https://gamethinking.io/wp-content/uploads/sites/5/2018/12/quiz-background.png);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .message-box {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        label {
            display: block;
            margin-top: 10px;
            color: #555;
        }

        input[type="text"],
        textarea,
        input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="hidden"] {
            display: none;
        }

        .button-link {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #d1c626;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .button-link:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <!-- Announcement Form Section -->
    <div class="message-box">

        <!-- Announcement Form Heading -->
        <h1>Send an Announcement</h1>

        <!-- Announcement Form -->
        <form action="/quizsystem/announcement" method="post">

            <!-- Content Input -->
            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea>

            <!-- Timestamp Input -->
            <label for="timestamp">Timestamp:</label>
            <input type="date" id="timestamp" name="timestamp" value="Timestamp" required>

            <!-- Student ID Input -->
            <label for="studentID">Student ID:</label>
            <input type="text" id="studentID" name="studentID" required>

            <!-- Instructor ID Input (hidden) -->
            <input type="hidden" name="instructorID" value="<%= instructorID %>">

            <!-- Create Announcement Button -->
            <button type="submit" class="button-link">Create Announcement</button>

        </form> <!-- End of Announcement Form -->

    </div> <!-- End of Announcement Form Section -->
</body>

</html>